*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  height: 100vh;
}

.home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Button Style */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
}

/* Hover Effect */
.button:hover {
  background-color: #0056b3;
}

/* Active/Pressed Effect */
.button:active {
  background-color: #003380;
}
